body {
  max-width: 1440px;
  height: 1366px;
  background: #4E4957;
  border-radius: 10px; }

a {
  text-decoration: none; }

#column-1 {
  width: 802px;
  height: 1366px;
  background: #2A2731;
  border-radius: 10px;
  margin: 0 496px 0 142px; }

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  background: #000000;
  margin-top: 0;
  margin-bottom: 40px;
  border-radius: 10px; }

#header-logo {
  width: 237px;
  height: 72px;
  margin-top: 12px;
  margin-left: 24px; }

#navigation {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 16px;
  margin-left: 0; }

#navigation a {
  width: 80px;
  height: 24px;
  cursor: pointer;
  background: #000000;
  border-radius: 99px;
  border-color: #000000;
  outline: none; }

#navigation a:hover {
  background: #133774; }

#navigation .header-button {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #CDC9D6;
  padding: 12px; }

main {
  width: 100%;
  box-sizing: border-box;
  padding-left: 24px; }

#segmented-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }

.name {
  text-align: top;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #EEECF1;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.48); }

.text {
  display: inline;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #7A7585;
  text-align: center;
  padding: 9px 32px; }

#segmented-control-icons {
  width: 476px;
  height: 48px;
  background: #17151C;
  border-radius: 10px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start; }

#icon:first-child {
  margin-left: 4px; }

#icon:last-child {
  margin-right: 4px;
  border-right: none; }

#icon {
  width: 153px;
  height: 40px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px; }

#segmented-control-icons .tickets:hover, .holidays:hover, .planner:hover {
  background: #3C3844;
  border-radius: 10px; }
  #segmented-control-icons .tickets:hover i, .holidays:hover i, .planner:hover i {
    visibility: hidden; }
  #segmented-control-icons .tickets:hover .text, .holidays:hover .text, .planner:hover .text {
    color: #EEECF1; }

#segmented-control-icons a .line {
  margin-top: 2px;
  border-right: 1.48px solid #4E4957; }

/*
.line {
  width: 28.8px;
  border: 1px solid #4E4957;
  transform: rotate(-90deg);
  margin-right: -20px;
  float: right;
  margin-top: 20px;
}
*/
.calendar {
  width: 754px;
  height: 428px;
  background: #000000;
  border-radius: 10px;
  margin-left: 0;
  margin-bottom: 16px;
  padding-top: 40px; }

#calendar-type {
  width: 270px;
  /* 224px */
  height: 32px;
  margin: auto;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-around;
  background: #3C3844;
  border-radius: 99px;
  text-align: center;
  align-items: center; }

.type-button {
  width: 112px;
  padding: 4px 12px;
  border-radius: 99px; }

.text-button {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #7A7585;
  padding-right: 23px;
  padding-left: 23px; }

#calendar-type:hover {
  box-sizing: border-box; }

.type-button:hover {
  background: #1F4921;
  border: 2px solid #2B662E; }
  .type-button:hover .text-button {
    font-weight: 500;
    letter-spacing: 0.22px;
    color: #EEECF1; }

#calendars {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.arrow-left {
  margin-left: 25px; }

.arrow-right {
  margin-right: 25px; }

table th {
  /*
  font-weight: bold; */ }

table .table-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  color: #EEECF1; }

table .table-days {
  width: 32px;
  height: 48px;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: #EEECF1; }

table td {
  width: 32px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.22px;
  color: #7A7585; }

table {
  font-family: IBM Plex Sans;
  font-style: normal;
  width: 272px;
  color: #ffffff;
  text-align: center; }

table td:hover {
  color: #A9D3AB;
  cursor: pointer;
  background: #1F4921;
  border: 2px solid #2B662E;
  box-sizing: border-box;
  border-radius: 32px; }

@media (max-width: 360px) {
  body {
    max-width: 360px;
    height: 1504px; } }

/*# sourceMappingURL=style.css.map */
